/* ==========================================================================
   Links
   ========================================================================== */

:where(a) {
  color: var(--c-primary);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color var(--transition-fast);
}

:where(a:hover) {
  color: var(--c-primary-hover);
}

:where(a:active) {
  color: var(--c-primary-active);
}
